$Black: #000000;
$Blue: #3496d8;
$Red: #b92626;
$white: #ffffff;
$Orange: #ee9912;
$Green: #339235;
$Grey-10: #fafafa;
$Grey-20: #cccccc;
$Grey-30: #ebebeb;
$Grey-40: #e6e6e6;
$Grey-50: #d7d7d7;
$Grey-60: #b4b4b4;
$Grey-80: #9b9b9b;
$Grey-90: #4a4a4a;